<div class="row">
    <div class="col-md-12">
        <div class="card" >
            <div class="row">
                <div class="col-md-6">
                    <h4>{{recipe.recipe_name}}</h4>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                      </div>
                </div>
            </div>

            <img class="card-img-top cardimg" src="{{recipe.recipe_img}}" alt="Card image cap">
            <div class="card-body">
               
              <h5 class="card-title">{{recipe.recipe_name}}</h5>
              <p class="card-text">{{recipe.recipe_desc}}</p>
            
            </div>
          </div>
    </div>
</div>