.cardimg{
    width: 50%;
    height: auto;
}
.btn{
    border-radius: 0% !important;
}
.card{
    padding: 10px;
    align-items: center;
    justify-content: center;

}
.addrep{
    float: right;
}

.btn-dark{
    position: relative;
    margin: auto;
    background-color: #000;
    color: #fff;
    width: 100%;
}
.fa{
    color: #fff;
}   