

<div class="container">
<div class="row">
<div class="row">
    <div class="col-md-12">
        <form (ngSubmit) = "AddItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-md-2">
                    <label for="Name">Item</label>
                    <input type="text" class="form-control" name="name" ngModel>
                </div>
                <div class="col-md-1">
                    <label for="Name">Quantity</label>
                    <input type="text" class="form-control" name="quantity" ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit">
                        Add
                    </button>
                    <button class="btn btn-primary">
                        Clear
                    </button>
                    <button class="btn btn-danger">
                        Delete
                    </button>

                </div>
            </div>
        </form>

    </div>
</div>
<div class="col-md-6" *ngFor="let inc of incredients">
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">{{inc.name}}</h5>
          <p class="card-text">{{inc.amount}}</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    
</div>
</div>
</div>